---
import KeyboardShortcuts from "../components/KeyboardShortcuts.astro";
import getFullEntryDefinition from "@lib/keystatic/getFullEntryDefinition";
import '@fontsource-variable/roboto-serif/wdth.css';

export interface Props {
  collectionName?: string;
  slug?: string;

  // Title fallback, if both `collectionName` and `slug` are not defined
  title?: string;
}

const { collectionName, slug, title } = Astro.props;

let renderedTitle = title ?? "";
let renderedDescription = "";
let renderedCanonicalURL = "";
let websiteLanguage = "en";
let rssEnabled = false;

if (collectionName && slug) {
  const { websiteConfig, cmsEntry } = await getFullEntryDefinition({
    collectionName: collectionName,
    slug: slug,
  });

  /*
    Title render priority:
        1) Page MetaTitle + Website.TitleShort
        2) Page MetaTitle
        3) Page Title + Website.TitleShort
        4) Page Title
        5) Website.TitleLong
        6) Website.TitleShort
        7) Give up (`undefined`)
  */

  // Find the first non-falsy title from the array
  const validTitle = [cmsEntry.meta.title, cmsEntry.title].find((title) => title);
  const delimiter = websiteConfig?.general.titleDelimiter ?? " | ";

  renderedTitle = (function () {
    if (validTitle) {
      return websiteConfig?.general.titleShort
        ? `${validTitle} ${delimiter} ${websiteConfig?.general.titleShort}`
        : validTitle;
    }

    return websiteConfig?.general.titleLong || websiteConfig?.general.titleShort || "";
  })();

  /*
    MetaDescription render priority:
      1) Page MetaDescription
      2) Page Excerpt
      3) Auto-generate an excerpt from the content (Not implemented)
      4) Website MetaDescription
      5) Give up (`undefined`)
  */

  renderedDescription = cmsEntry.meta.description || cmsEntry.excerpt || websiteConfig?.general.description || "";

  /*
    Canonical URL render priority
        1) As defined in page front matter
        2) With Astro.site (must be set in website config), the page URL
        3) Safe guard: `undefined`
  */
  if (cmsEntry.meta.canonicalURL) {
    renderedCanonicalURL = cmsEntry.meta.canonicalURL;
  } else {
    renderedCanonicalURL = Astro.site ? new URL(Astro.url.pathname, Astro.site).href : "";
  }

  // Language
  websiteLanguage = websiteConfig?.general.lang ?? "en";

  // RSS
  rssEnabled = websiteConfig?.rss.enabled ?? false;
}
---

<html lang={websiteLanguage}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- META TAGS -->
    {renderedTitle && <title>{renderedTitle}</title>}
    {renderedDescription && <meta name="description" content={renderedDescription} />}
    {renderedCanonicalURL && <link rel="canonical" href={renderedCanonicalURL} />}

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" sizes="180x180" />

    <!-- SITEMAP -->
    {Astro.site && <link rel="sitemap" href="/sitemap-index.xml" />}

    <!-- RSS -->
    {Astro.site && rssEnabled && <link rel="alternate" hreflang={websiteLanguage} href={`${Astro.site}/rss.xml`} />}

    <!-- TODO: Robots meta tag.  -->
    <!-- Update page schema with the following: -->
    <!-- https://developers.google.com/search/docs/crawling-indexing/robots-meta-tag?hl=it#nosnippet -->

    <slot name="codeInjectionHeader" />
  </head>
  <body>
    <KeyboardShortcuts />
    <slot />
    <slot name="codeInjectionFooter" />
  </body>
</html>
